<template>
  <section class="flex gap-4 overflow-x-auto items-start">
    <draggable
      v-model="columns"
      group="columns"
      item-key="id"
      class="flex gap-4 items-start"
      :animation="150"
      handle=".drag-handle"
    >
      <template #item="{ element: column }: { element: Column }">
        <div class="bg-gray-200 p-5 rounded min-w-[250px] column">
          <header class="font-bold mb-4">
            <DragHandle />
            <input
              type="text"
              v-model="column.title"
              @keydown.enter="($event.target as HTMLInputElement).blur()"
              @keydown.backspace="
                column.title === ''
                  ? (columns = columns.filter((col) => col.id !== column.id))
                  : null
              "
              class="focus:bg-white rounded px-1 bg-transparent w-4/5 title-input"
            />
          </header>
          <draggable
            v-model="column.tasks"
            :group="{
              name: 'tasks',
              pull: isAltPressed ? 'clone' : true,
            }"
            item-key="id"
            :animation="150"
            handle=".drag-handle"
          >
            <template #item="{ element: task }: { element: Task }">
              <div>
                <TrelloBoardTask
                  :key="task.id"
                  :task="task"
                  @delete="
                    column.tasks = column.tasks.filter(
                      (tsk) => tsk.id !== $event
                    )
                  "
                />
              </div>
            </template>
          </draggable>
          <footer>
            <NewTask @add="column.tasks.push($event)" />
          </footer>
        </div>
      </template>
    </draggable>
    <button
      class="bg-gray-200 whitespace-nowrap p-2 rounded opacity-50"
      @click="createColumn"
    >
      + Add another column
    </button>
  </section>
</template>

<script setup lang="ts">
import { nextTick, ref } from "vue";
import { nanoid } from "nanoid";
import draggable from "vuedraggable";
import type { Column, Task } from "../types";

import TrelloBoardTask from "./TrelloBoardTask.vue";
import DragHandle from "./DragHandle.vue";
import NewTask from "./NewTask.vue";

const isAltPressed = useKeyModifier("Alt");
const columns = ref<Column[]>([
  {
    id: nanoid(),
    title: "Backlog",
    tasks: [
      {
        id: nanoid(),
        title: "Create landing page",
        createdAt: new Date(),
      },
    ],
  },
  {
    id: nanoid(),
    title: "In progress",
    tasks: [],
  },
  {
    id: nanoid(),
    title: "Test",
    tasks: [
      {
        id: nanoid(),
        title: "Create a task",
        createdAt: new Date(),
      },
    ],
  },
  {
    id: nanoid(),
    title: "Done",
    tasks: [
      {
        id: nanoid(),
        title: "Create project repository",
        createdAt: new Date(),
      },
      {
        id: nanoid(),
        title: "Configure project dependencies",
        createdAt: new Date(),
      },
      {
        id: nanoid(),
        title: "Add register page",
        createdAt: new Date(),
      },
      {
        id: nanoid(),
        title: "Add login page",
        createdAt: new Date(),
      },
      {
        id: nanoid(),
        title: "Add profile page",
        createdAt: new Date(),
      },
    ],
  },
]);

function createColumn() {
  const column: Column = {
    id: nanoid(),
    title: "",
    tasks: [],
  };

  columns.value.push(column);
  // nextTick assure that the element was rendered
  nextTick(() => {
    (
      document.querySelector(
        ".column:last-of-type .title-input"
      ) as HTMLInputElement
    ).focus();
  });
}
</script>

<style scoped>
</style>