<template>
  <main class="p-10 h-[100vh] bg-teal-600 overflow-auto">
    <h1 class="text-4xl text-white flex items-center mb-10">
      Trellow Board
    </h1>
    <TrelloBoard />
  </main>
</template>
